<header>
  <h1>Cameron Dingle's Owlish Owl ~ ITIS 3135</h1>
  <nav>
    <a href="index.html">Home</a> &nbsp; | &nbsp;
    <a href="contract.html">Contract</a> &nbsp; | &nbsp;
    <a href="survey.html">Survey</a> &nbsp; | &nbsp;
    <a href="gallery.html">Gallery</a> &nbsp; | &nbsp;
    <a href="inventory.html">Inventory</a> &nbsp; | &nbsp;
    <a href="highlight.html">Highlight</a> &nbsp; | &nbsp;
    <a href="instructions.html">Instructions</a>
  </nav>
  <hr />
  <nav>
    <a href="../stuff/trash.htm">CRAPpy Page</a> &nbsp; | &nbsp;
    <a href="website_evaluations.html">Website Evaluations</a> &nbsp; | &nbsp;
    <a href="../itis3135/hobby/index.html">Hobby</a> &nbsp; | &nbsp;
    <a href="../projects/amanda_client_project/index.html">Client Project</a>
  </nav>
</header>
